body {
    background-color: rgb(11, 15, 25) 24;
    color: rgb(248, 250, 252);
    font-family: Arial, sans-serif;
    margin: 0,
}

header {
    background-color: rgb(15, 23, 42);
    color: rgb(248, 250, 252);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: rgb(96, 165, 250);
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color: rgb(81, 97, 167);
    text-decoration: none;
    background-color: #1E293B;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: rgb(103, 138, 180);
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: rgb(17, 24, 39);
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;

}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #fdf9f9;
    margin-top: 8px;
}

.card {

    background-color: rgb(58, 133, 219);
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #437be2;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: rgb(255, 255, 255);
    color: rgb(44, 76, 136);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
button {
   background-color: #859bc4;
   color:#2f4b97;
   border: none;
   padding: 10x 15x;
   border-radius: 8px;
   cursor: pointer;
}

button:hover {
    background-color: #f2f3f5;
}

.curtir {
    display: blobk;
    width: fit-content;
    margin: 20px outo;
}