body {
    background-color: rgb(255, 255, 255);
    color: rgb(143, 0, 0);
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(255, 217, 0);
    color: rgb(43, 117, 255);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: black;
}

p {
    font-size: 18px;
    line-height: 1.6;
}