body {
    background-color: rgb(255, 255, 255);
    color: rgb(196, 94, 94);
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(255, 217, 0);
    color: rgb(43, 255, 191);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: black;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

main {
    width: 80%;
    margin: auto;
}

    section {
        background-color: rgb(99, 159, 250);
        margin: 20px 0;
        padding: 20px;
        border-radius: 12px;
    }

    img{
        width:  100%;
        display: block;
        margin: auto;
        border- radius: 12px;
    
    }

    figcaption{
        text-aling: 14px;
        color: #555555;
        maegin-top: 8px;
    }